<!-- 
Example: Server statsdaemon runs on localhost:81
We want to stats for name 'NETMAG' so enter 'Statsfor NETMAG' in stats.cnf 
(daemon configuration file).

place compiled classes livestats* on HTTP server and use
insert following HTML tags.
-->
<applet codebase="http://localhost/" code="livestats2.class" width=220 height=50>
<param name="title" value="Live Stats">
<param name="refresh" value="30">
<param name="server" value="NETMAG">
<img src="http://localhost:81/NETMAG/empty.gif">
<!-- IMG JE NUTNE, ABY SI NO-JAVA ENABLED BROWSERS TUKLI NA DEAMONA, CO
DELA STATISTIKU, musi obsahovat jmeno serveru, ktere je case-sensitive -->
</applet>